 <!-- Offcanvas Menu Begin -->
 <div class="offcanvas-menu-overlay"></div>
 <div class="offcanvas-menu-wrapper">

     <div class="offcanvas__logo">
         <a href="./index.html"><img src="/img/logo.png" alt=""></a>
     </div>
     <div id="mobile-menu-wrap"></div>
     <div class="offcanvas__widget">
         <a href="#" class="primary-btn">Anunciar Carro</a>
     </div>
     <ul class="offcanvas__widget__add">
         <li><i class="fa fa-clock-o"></i>Segunda a Sábado 09:00 - 18:00</li>
         <li><i class="fa fa-envelope-o"></i>contato@revenda.com.br</li>
     </ul>

     <div class="offcanvas__phone__num">
         <i class="fa fa-phone"></i>
         <span>(53) 3245-7789</span>
     </div>
     <div class="offcanvas__social">
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-instagram"></i></a>
     </div>
 </div>
 <!-- Offcanvas Menu End -->

 <!-- Header Section Begin -->
 <header class="header">
     <div class="header__top">
         <div class="container">
             <div class="row">
                 <div class="col-lg-7">
                     <ul class="header__top__widget">
                         <li><i class="fa fa-clock-o"></i>Segunda a Sábado 09:00 - 18:00</li>
                         <li><i class="fa fa-envelope-o"></i> contato@revenda.com.br</li>
                     </ul>
                 </div>
                 <div class="col-lg-5">
                     <div class="header__top__right">
                         <div class="header__top__phone">
                             <i class="fa fa-phone"></i>
                             <span>(53) 3245-7789</span>
                         </div>
                         <div class="header__top__social">
                             <a href="#"><i class="fa fa-facebook"></i></a>
                             <a href="#"><i class="fa fa-instagram"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="container">
         <div class="row">
             <div class="col-lg-2">
                 <div class="header__logo">
                     <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                 </div>
             </div>
             <div class="col-lg-10">
                 <div class="header__nav">
                     <nav class="header__menu">
                         <ul>
                             <li class="active"><a href="./index.html">Ínicio</a></li>
                             <li><a href="./car.html">Carros</a></li>
                             <li><a href="#">Institucional</a>
                                 <ul class="dropdown">
                                     <li><a href="./about.html">Nossa Empresa</a></li>
                                     <li><a href="./contact.html">Fale Conosco</a></li>
                                 </ul>
                             </li>
                         </ul>
                     </nav>
                     <div class="header__nav__widget">
                         <a href="#" class="primary-btn">Anunciar carro</a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="canvas__open">
             <span class="fa fa-bars"></span>
         </div>
     </div>
 </header>