<div class="col-lg-3">
    <div class="navbar__sidebar">
        <div class="navbar__group">
            <h5>Informações Rápidas</h5>
            <ul>
                <li><a href="/admin"> <i class="fa fa-building"></i> Dashboard</a></li>
            </ul>
        </div>

        <div class="navbar__group">
            <h5>Conteúdo do Site</h5>
            <ul>
                <li><a href="/admin/empresa"> <i class="fa fa-building"></i> Sobre a Empresa</a></li>
            </ul>
        </div>
    </div>
</div>