<div class="col-lg-4">
    <div class="navbar__sidebar">
            <div class="navbar__group">
                <h5>Conteúdo do Site</h5>
                <ul>
                    <li><a href=""> <i class="fa fa-building"></i> Sobre a Empresa</a></li>
                    <li><a href=""> <i class="fa fa-building"></i> Sobre a Empresa</a></li>
                    <li><a href=""> <i class="fa fa-building"></i> Sobre a Empresa</a></li>
                    <li><a href=""> <i class="fa fa-building"></i> Sobre a Empresa</a></li>
                </ul>
            </div>
    </div>
</div>