<%- include('include/imports/head') %>
<%- include('include/components/navbar') %> 
<%- include('include/components/breadcumb') %>

<section class="car-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="car__details__pic">
                    <div class="car__details__pic__slider owl-carousel">
                        <img src="img/cars/details/cd-1.jpg" alt="">
                        <img src="img/cars/details/cd-2.jpg" alt="">
                        <img src="img/cars/details/cd-3.jpg" alt="">
                        <img src="img/cars/details/cd-4.jpg" alt="">
                    </div>
                </div>
                <div class="car__details__tab">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="car__details__tab__info">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <span>Cod: 9841</span>
                                        <div class="car__details__tab__info__item">
                                            <div class=" title">
                                                <h4>TOYOTA <span>COROLLA</span> </h4>
                                                <p>1.0 12V FLEX SENSE MANUAL</p>
                                            </div>
                                            <div class="tag-wrapper">
                                                <span class="badge tag">Seminovo</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="car__details__tab__feature">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="row car__details__tab__feature__item">
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 item">
                                                <h5>Km</h5>
                                                <p>82.500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="car__details__tab__badges">
                                <div class="row car_details__tab__badges__wrapper">
                                    <div class="col-4 col-md-4 col-lg-4">
                                        <div class="car__badge">
                                            <span> <i class="fa fa-address-book"></i> Financiável </span>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4">
                                        <div class="car__badge">
                                            <span> <i class="fa fa-address-book"></i> Financiável </span>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4">
                                        <div class="car__badge">
                                            <span> <i class="fa fa-address-book"></i> Financiável </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="car__details__tab__about">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="car__details__tab__about__description">
                                            <!-- <h2>Sobre o carro</h2> -->
                                            <span>
                                                Ficou interessado? Entre em contato para mais informações! Outros
                                                Opcionais: Porta-copos, Farol de neblina, Direção Elétrica, Comando
                                                de áudio no volante, Assistente de Partida em Rampa, Banco
                                                bi-partido, Controle de estabilidade, Kit Multimídia, Pára-choques
                                                na cor do veículo.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="car__details__tab__items mb-30">
                                <div class="row mb-5">
                                    <div class="col-12">
                                        <div class="car__details__tab__items__title">
                                            <h2>Items do carro</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row car__details__tab__items__list__wrapper">
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                    <div class="col-4 col-lg-3 car__details__tab__items__list">
                                        <span>Ar-Condicionado</span>
                                    </div>
                                </div>
                            </div>

                            <div class="car__details__tab__items">
                                <div class="row mb-5">
                                    <div class="col-12">
                                        <div class="car__details__tab__items__title">
                                            <h2>Testdrive online</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/et_SyHQBbRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="car__details__sidebar">
                    <div class="car__details__sidebar__model">
                        <ul>
                            <li>Valor: <span>R$ 47.000,00</span></li>
                        </ul>

                    </div>

                    <div class="car__details__sidebar__form">
                        <div class="car__details__sidebar__form__disclaimer">
                            <span class="text">Ficou intressado?</span>
                            <span class="text__aux">
                                Preencha seus dados e nos envie sua proposta
                            </span>
                        </div>

                        <div class="car__details__sidebar__form__wrapper contact__form">
                            <form action="">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" placeholder="None">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" placeholder="Telefone">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="" id="" cols="30" rows="10" placeholder="Sua proposta"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="primary-btn sidebar-btn btn-block"><i class="fa fa-share"></i>ENVIAR PROPOSTA</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="car__details__sidebar__payment">
                        <a href="" class="call-whatsapp">
                            <span class="small">Saiba mais por</span>
                            <span class="whatsapp">WhatsApp <i class="icon-whatsapp"></i></span>
                        </a>
                        <!-- <a href="#" class="primary-btn"><i class="fa fa-credit-card"></i> Express Purchase</a>
                        <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-sliders"></i> Build Payment</a>
                        <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-money"></i> </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('include/imports/end') %>