<%- include('include/imports/head') %>
<%- include('include/components/navbar') %> 
<%- include('include/components/breadcumb') %>

<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Fale <span>Conosco</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p>Entre em contato por este formulário para tirar dúvidas e nos dar sugestões de melhorias
                </p>
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Nome">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Telefone">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Assunto">
                            </div>
                            <div class="col-12">
                                <textarea placeholder="Sua mensagem"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="site-btn btn-block">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="row">
                        <div class="col-6">
                            <div class="contact__text__officehours__itens">
                                <div class="day">
                                    <span>Segunda à Sexta:</span>
                                </div>
                                <div class="hours">
                                    <span>09:00 às 12:00 - 14:00 às 19:30</span>
                                </div>
                            </div>

                            <div class="contact__text__officehours__itens">
                                <div class="day">
                                    <span>Sábado:</span>
                                </div>
                                <div class="hours">
                                    <span>09:00 às 12:00 - 14:00 às 19:30</span>
                                </div>
                            </div>

                            <div class="contact__text__officehours__itens">
                                <div class="day">
                                    <span>Domingo:</span>
                                </div>
                                <div class="hours">
                                    <span>Fechado</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="contact__text__officehours__itens">
                                <div class="day">
                                    <span>Endereço:</span>
                                </div>
                                <div class="hours">
                                    <span>Av. Santa Tecla, 1091 - Bagé/RS</span>
                                </div>
                            </div>
                            <div class="contact__text__officehours__itens">
                                <div class="day">
                                    <span>Telefone:</span>
                                </div>
                                <div class="hours">
                                    <span>(53) 3245-778 - (53) 99924-2220</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_map">
                    <iframe width="100%" height="233" frameborder="0" id="map" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=Sibele Multimarcas&key=AIzaSyB4yBaa_b_AkQLZKuYKU0O0A8FDOggbahU"
                        allowfullscreen></iframe>
                </div>
            </div>


        </div>
    </div>
</section>
<%- include('include/imports/end') %>