<footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
    
                    <div class="footer__infos">
                        <p><i class="fa fa-map-pin"></i> Av. Santa Tecla, 1091 - Bagé/RS</p>
                        <div class="phones">
                            <p><i class="fa fa-phone"></i>(53) 3245-7789</p>
                            <p><i class="fa fa-whatsapp"></i>(53) 99924-2220</p>
                        </div>
                        <p><i class="fa fa-envelope-square"></i> contato@suaempresa.com.br</p>
                    </div>
    
                    <div class="footer__social">
                        <a href="#" class="icons"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="icons"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="icons"><i class="fa fa-whatsapp"></i></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="footer__widget">
                    <h5>Acesso rápido</h5>
                    <ul>
                        <li><a href="#">Ínicio</a></li>
                        <li><a href="#">Carros</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Anunciar seu Carro</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer__brand">
                    <h5>Top Marcas</h5>
                    <ul>
                        <li><a href="#">BMW</a></li>
                        <li><a href="#">Acura</a></li>
                        <li><a href="#">Alfa Romeo</a></li>
                        <li><a href="#">Audi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <div class="footer__copyright__text">
            <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Sua
                Empresa
            </p>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
    </footer>
    <!-- Footer Section End -->
    
    <!-- Search Begin -->
    <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
    </div>
    <!-- Search End -->
    
    <!-- Js Plugins --></div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    </body>
    
    </html>