<div class="col-lg-4 col-md-4 col-sm-6 mix sale">
    <div class="car__item">
        <div class="car__item__pic__slider owl-carousel">
            <a href=""><img src="img/cars/car-2.jpg" alt=""></a>
            <a href=""><img src="img/cars/car-8.jpg" alt=""></a>
            <a href=""><img src="img/cars/car-6.jpg" alt=""></a>
            <a href=""><img src="img/cars/car-4.jpg" alt=""></a>
        </div>
        <div class="car__item__text">
            <div class="car__item__text__inner">
                <div class="label-group-tag">
                    <div class="label">Cod: 9451</div>
                    <div class="label">2020</div>
                    <div class="label">Volkswagen</div>
                </div>
                <div class="label-group-info">
                    <h5><a href="#">Toyota camry asv50l-jeteku</a></h5>
                    <ul>
                        <li> <i class="flaticon-transmissao-manual"></i> Manual </li>
                        <li> <i class="fa fa-tachometer"></i> 80.000 km </li>
                    </ul>
                </div>
            </div>
            <div class="car__item__price">
                <h6>R$ 73.900,00</h6>
            </div>
            <a href="" class="call-whatsapp">
                <span class="small">Saiba mais por</span>
                <span class="whatsapp">WhatsApp <i class="icon-whatsapp"></i></span>
            </a>
        </div>
    </div>
</div>