<div class="col-lg-6">
    <div class="testimonial__item">
        <div class="testimonial__item__author">
            <div class="testimonial__item__author__text">
                <h5>Emma Sandoval</h5>
                <span> <i class="fa fa-car"></i> Toyota Corolla 2.0 2021</span>
            </div>
        </div>
        <p>It seems though that some of the biggest problems with the internet advertising
            trends
            are the lack of</p>
    </div>
</div>